@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

main {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#242333,#242333);
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}


main .container {
  perspective: 1000px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main .seat.selected {
  background-color: #6feaf6;
}

main .seat.occupied {
  background-color: #fff;
}

main .seat:nth-of-type(2) {
  margin-right: 18px;
}

main .seat:nth-last-of-type(2) {
  margin-left: 18px;
}

main .seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

main .showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

main .showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

main .showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

main .showcase li small {
  margin-left: 2px;
}

main .row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 25%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

main p.text {
  margin: 5px 0;
}

main p.text span {
  color: #6feaf6;
}
